<div class="navbar navbar-static-top navbar-inverse main-menu">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/about">Über uns</a></li>
                <li><a href="/imprint">Impressum</a></li>
            </ul>
            <div class="nav pull-right">
                <span class="brand">musikanalyse.net</span>
            </div>
        </div>
    </div>
</div>
