@using Musikanalyse.Services.Contracts
@model IList<Game>

@{
    ViewBag.Title = "Spiele";
}

<div class="page-header">
    <h1>Spiele</h1>
</div>

<div class="container">
    <ul class="media-list">
        @foreach (Game game in this.Model)
        {
        <li class="media">
            <a class="pull-left" href="@this.Url.Action("index", new { gameName = game.Name })">
                <img class="media-object" src="/content/games/memory/css/img/quizy-mg-item-top.png">
            </a>
            <div class="media-body">
                <h4 class="media-heading">@game.Title</h4>
                <p>@game.Description</p>
                <p><a class="btn btn-mini" href="@this.Url.Action("index", new { gameName = game.Name })">Zum Spiel &raquo;</a></p>
            </div>
        </li>
        }
    </ul>
    <p style="margin-top: 25px; font-style: italic;">Weitere Spiele folgen demnächst ...</p>
</div>
