@using Musikanalyse.Services.Contracts
@model Musikanalyse.Website.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Willkommen auf musikanalyse.net";
}

<h2>Wählen Sie ein Tutorial:</h2>

<ul>
    @foreach (TutorialInfo info in this.Model.TutorialInfos)
    {
        <li>@Html.ActionLink(info.Title, "TutorialPage", new { urlKey = info.UrlKey })</li>
    }
</ul>
