@using MarkdownDeep
@using Musikanalyse.Services.Contracts
@model ContentPage

@{
    ViewBag.Title = this.Model.Title;
}

<div class="text">
    @Html.Raw((new Markdown { ExtraMode = true, SafeMode = false, MarkdownInHtml = true }).Transform(@Model.Value))
</div>
