@using MarkdownDeep
@using Musikanalyse.Services.Contracts
@model TutorialPage

@{
    ViewBag.Title = this.Model.Title;
}

<style type="text/css">
    p {
        text-align: justify; 
    }
</style>

<div class="tutorial">
    @Html.Raw((new Markdown { ExtraMode = true, SafeMode = false, MarkdownInHtml = true }).Transform(@Model.Value))
</div>

@section Scripts {
    <script src="/scripts/audiojs/audio.min.js"></script>
    <script>
        $(function () {
            var audiojs = window.audiojs;
            audiojs.events.ready(function() {
                audiojs.createAll();
            });
            $(".exercise")
                .addClass("accordion-inner")
                .wrap("<div class=\"accordion accordion-group\"><div class=\"accordion-body collapse\"></div></div>")
                .parent()
                .before("<div class=\"accordion-heading\"><a class=\"accordion-toggle\">Übung anzeigen</a></div>");
            $(".accordion-toggle").on("click", function () {
                var toggle = $(this);
                toggle.text(toggle.text() === "Übung anzeigen" ? "Übung ausblenden" : "Übung anzeigen");
                toggle.parent().next().collapse("toggle");
            });
        });
    </script>
}
