
/* all displays */
 #greenLine {
    display: block !important;
    height: 300px !important;
    width: 100%;
  }
  #buesten {
    margin-top: -400px !important;
  }

  .highlighted {
    font-weight: bold;
    color: maroon;
  }

  a.bluebutton {
    background-color: #00526e;
    color: white;
    display: block;
    padding: 0.625em;
    text-align: center;
    text-decoration:none;
    transition: background 0.20s linear 0s;
    -o-transition: background 0.20s linear 0s;
    -ms-transition: background 0.20s linear 0s;
    -moz-transition: background 0.20s linear 0s;
    -webkit-transition: background 0.20s linear 0s;
  }
  a.redbutton {
    background-color: #520d00;
    color: white;
    display: block;
    padding: 0.625em;
    text-align: center;
    text-decoration:none;
    transition: background 0.20s linear 0s;
    -o-transition: background 0.20s linear 0s;
    -ms-transition: background 0.20s linear 0s;
    -moz-transition: background 0.20s linear 0s;
    -webkit-transition: background 0.20s linear 0s;
  }
  a.brownbutton {
    background-color: #523a00;
    color: white;
    display: block;
    padding: 0.625em;
    text-align: center;
    text-decoration:none;
    transition: background 0.20s linear 0s;
    -o-transition: background 0.20s linear 0s;
    -ms-transition: background 0.20s linear 0s;
    -moz-transition: background 0.20s linear 0s;
    -webkit-transition: background 0.20s linear 0s;
  }
  a.greenbutton {
    background-color: #49BF4C;
    color: white;
    display: block;
    padding: 0.625em;
    text-align: center;
    text-decoration:none;
    transition: background 0.20s linear 0s;
    -o-transition: background 0.20s linear 0s;
    -ms-transition: background 0.20s linear 0s;
    -moz-transition: background 0.20s linear 0s;
    -webkit-transition: background 0.20s linear 0s;
  }
  a.bluebutton:hover {
    background-color: lighten(#00526e, 10%);
  }
  a.redbutton:hover {
    background-color: lighten(#520d00, 10%);
  }
  a.brownbutton:hover {
    background-color: lighten(#523a00, 10%);
  }
  a.greenbutton:hover {
    background-color: darken(#49BF4C, 10%);
  }
  a.bluebutton:visited,
  a.redbutton:visited,
  a.brownbutton:visited,
  a.greenbutton:visited {
    color: white;
  }

/* -768px version */
@media screen and (max-width:768px) {
  #greenLine {
    height: 200px !important;
  }
  #buesten {
    margin-top: -300px !important;
  }
}

/* -480px version */
@media screen and (max-width:480px) {
  #greenLine {
    height: 100px !important;
  }
  #buesten {
    margin-top: -200px !important;
  }
}
