.Tutorial {
}

.Tutorial-title {
  margin-bottom: .25em;
}

.Tutorial-author {
  font-size: 90%;
  margin-bottom: 2.5em;
}

p {
  .margin-top-bottom-20;
}

div#accordion {
  .margin-top-bottom-20;
}
img {
  .center;
}
audio {
  .center;
  .margin-top-bottom-20;
}

iframe {
  width: 100%;
  height: 800px;
}
i {
  color: #777;
  font-size: 1em;
  font-style: italic;
}


