.Tutorial {
}

.Tutorial-title {
  margin-bottom: .25em;
}

.Tutorial-author {
  font-size: 90%;
  margin-bottom: 2.5em;
}

.Tutorial {
  color: #777;
  p {
    .margin-top-bottom-20;
  }
  a {
    color: #49BF4C;
  }
  a:hover {
    color: #851500;
  }
  .centerText {
    text-align: center;
  }
  .beforeSmalltext{
    margin-bottom: 0;
  }
  .smalltext {
    font-size: 12px;
  }
  .copyright {
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .copyright > p {
    line-height: 1.2em;
  }
  .isNotVisible {
    display: none;
  }

  a.fn { 
    float: left; 
  }
  a.fnNumber { 
    font-size: 0.9em; 
  }
  .fnText { 
    margin-left: 36px; 
  }

  .citation {
    width: 80%;
    font-size: 90%;
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding: 10px 20px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #E6E6E6;
    border: 1px solid silver;
    color: black;
  }
  .citation > p > span.anm {
    font-style: normal;
  }
  .reference {
    width: 100%;
    padding-right: 10%;
    margin-top: 10px !important;
    text-align: right;
    .smalltext;
  }

  .board {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    background-color:#DBDBDB;
    color:maroon; padding:10px;
    font-weight: bold;
  }

  .originalWidth {
    max-width: 100%;
  }
  .smallWidth {
    max-width: 75%;
  }
  .smallerWidth {
    max-width: 50%;
  }
  .smallestWidth {
    max-width: 40%;
  }
  .miniWidth {
    max-width: 25%;
  }
  .originalHeight {
    max-height: 100%;
  }
  .smallHeight {
    max-height: 75%;
  }
  .smallerHeight {
    max-height: 50%;
  }
  .smallestHeight {
    max-height: 40%;
  }
  .miniHeight {
    max-height: 25%;
  }

  .table-80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .table-80 th {
    width: 50%;
  }

  .lineHight {
    line-height: 1.5;
  }

  ol {
    .margin-top-bottom-20;
  }

  .impro-Selector {
    width: 70%;
  }

  i {
    color: #777;
    font-family: inherit;
    font-size: 1em;
    font-style: italic;
  }
  hr {
    margin: 20px 0;
  }

  img {
    margin: 30px auto 20px auto;
  }
  img.shadow {
    box-shadow: 6px 6px 6px #a6a6a6;
  }
  img.image-off, a.imageChange:hover .image-on {
    display: none !important;
  }
  img.image-on, a.imageChange:hover .image-off {
   display: block !important;
  }

  audio {
    .center;
    .margin-top-bottom-20;
  }
  iframe {
    width: 100%;
    height: 800px;
  }
  iframe.yt-iframe {
     margin: 40px auto;
     display: block;
     max-width: 420px;
     max-height: 315px;
  }

  video.video100 {
    width: 100%;
  }

  .exercise-link {
    display: block;
    font-size: 85%;
    font-style: italic;
    margin: 20px 0;
  }
  .exercise {
    display: none;
  }

  .Tutorial-youtube {
    width: 100%;
    height: 30px;

    .vjs-control-bar {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  .trainerContainer {
    max-width: 600px;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 1px solid gray;
  }

  button.foldable-block {
    padding: 4px;
    color: maroon;
  }
  button.foldable-collapsed {
    padding: 4px;
    color: green;
  }
  hr.foldable-separator {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  hr.foldable-separator-collapsed {
    border-width: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media(max-width:770px) {
    #Duale-Begriffe {
        display: none !important;
    }
  }

  @media(max-width:480px) {
    .smallWidth
 {
      width: 100% !important;
    }
    .smallerWidth
 {
      width: 100% !important;
    }

    #Duale-Begriffe {
      display: none;
    }
  }
}
