.Tutorial {
}

.Tutorial-title {
  margin-bottom: .25em;
}

.Tutorial-author {
  font-size: 90%;
  margin-bottom: 2.5em;
}

.Tutorial {
  color: #777;
  p {
    .margin-top-bottom-20;
  }
  a {
    color: #49BF4C;
  }
  a:hover {
    color: #851500;
  }
  .centerText {
    text-align: center;
  }
  .beforeSmalltext{
    margin-bottom: 0;
  }
  .smalltext {
    font-size: 12px;
  }
  .copyright {
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .copyright > p {
    line-height: 1.2em;
  }
  .isNotVisible {
    display: none;
  }

  a.fn {
    float: left;
  }
  a.fnNumber {
    font-size: 0.9em;
  }
  .fnText {
    margin-left: 36px;
  }

  .originalWidth {
    max-width: 100%;
  }
  .smallWidth {
    max-width: 75%;
  }
  .smallerWidth {
    max-width: 50%;
  }
  .smallestWidth {
    max-width: 40%;
  }
  .miniWidth {
    max-width: 25%;
  }
  .originalHeight {
    max-height: 100%;
  }
  .smallHeight {
    max-height: 75%;
  }
  .smallerHeight {
    max-height: 50%;
  }
  .smallestHeight {
    max-height: 40%;
  }
  .miniHeight {
    max-height: 25%;
  }

  .table-80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .table-50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  table.bg-white td {
    background-color: white;
    border: 1px solid #D0D0D0;
  }
  table.sortable td {
    vertical-align: top;
  }

  #ciavetten th.rest {
    width: 40%;
  }
  #ciavetten th.first {
    width: 20%;
  }
  #ciavetten th {
    background-color: #f2f2f2;
    border: 1px solid #D0D0D0;
  }
  #ciavetten td {
    background-color: white;
    border: 1px solid #D0D0D0;
  }

  .lineHight {
    line-height: 1.5;
  }

  ol, ul {
    .margin-top-bottom-20;
    line-height: 1.6em;
  }

  ul.innerList, ol.innerList {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .impro-Selector {
    width: 70%;
  }

  i {
    color: #777;
    font-family: inherit;
    font-size: 1em;
    font-style: italic;
  }
  hr {
    margin: 20px 0;
  }

  img.marginBottom-50 {
    margin-bottom: 50px;
  }

  img {
    margin: 30px auto 20px auto;
  }
  img.shadow {
    box-shadow: 6px 6px 6px #a6a6a6;
  }
  img.image-off, a.imageChange:hover .image-on {
    display: none !important;
  }
  img.image-on, a.imageChange:hover .image-off {
    display: block !important;
  }

  audio {
    .center;
    .margin-top-bottom-20;
  }
  iframe {
    width: 100%;
    height: 800px;
  }
  iframe.yt-iframe {
     margin: 40px auto;
     display: block;
     max-width: 420px;
     max-height: 315px;
  }

  video.video100 {
    width: 100%;
  }

  .exercise-link {
    display: block;
    font-size: 85%;
    font-style: italic;
    margin: 20px 0;
  }
  .exercise {
    display: none;
  }

  .Tutorial-youtube {
    width: 100%;
    height: 30px;

    .vjs-control-bar {
      visibility: visible !important;
      opacity: 1 !important;
    }

    .vjs-big-play-button {
      font-size: 1em !important;
    }
  }

  .trainerContainer {
    max-width: 600px;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 1px solid gray;
  }

  button.foldable-block {
    padding: 4px;
    color: maroon;
  }
  button.foldable-collapsed {
    padding: 4px;
    color: green;
  }
  hr.foldable-separator {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  hr.foldable-separator-collapsed {
    border-width: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .color-green {
    color: green;
  }
  .color-red {
    color: red;
  }
  .color-blue {
    color: blue;
  }

  .blockquote {
    display:block;
    padding: 15px 20px 15px 45px;
    margin: 40px 80px;
    position: relative;

    @media only screen and (max-width: 576px) {
      margin: 40px 0;
    }

    /*Borders - (Optional) orange = #d46b08 / darkblue = #002633 */
    border-left: 15px solid #49BF4C;
    border-right: 2px solid #49BF4C;

    /*Box Shadow - (Optional)*/
    box-shadow: 2px 2px 15px #bfbfbf;

    p {
      margin: 2px 4px !important;
    }
    ul, ol {
      margin: 2px 4px !important;
      padding-left: 20px;
    }
  }

  .blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    line-height: 60px;
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #8c8c8c;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }

  .blockquote::after{
    /*Reset to make sure*/
    content: "";
  }

  .blockquote > *:last-child {
    margin-bottom: 0;
  }

  .attention {
    display:block;
    padding: 15px 20px;
    margin: 40px 80px;
    position: relative;

    @media only screen and (max-width: 576px) {
      margin: 40px 0;
    }

    /*Borders - (Optional) orange = #d46b08 / darkblue = #002633 */
    border-left: 15px solid maroon;
    border-right: 2px solid maroon;

    /*Box Shadow - (Optional)*/
    box-shadow: 2px 2px 15px #bfbfbf;

    p {
      margin: 2px 4px !important;
    }
  }

  .attention > *:last-child {
    margin-bottom: 0;
  }

  .blockquote > p > span.anm, .attention > p > span.anm {
    font-style: normal;
  }

  .reference {
    width: 100%;
    padding-left: 40%;
    padding-top: 10px;
    text-align: right;
    .smalltext;
  }

  @media(max-width:770px) {
    #Duale-Begriffe {
        display: none !important;
    }
  }

  @media(max-width:480px) {
    .smallWidth {
      width: 100% !important;
    }
    .smallerWidth {
      width: 100% !important;
    }
    #Duale-Begriffe {
    display: none;
    }
  }
}
