body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.main-menu {
    background-color: #1b1b1b;
    background-image: linear-gradient(#222, #111);
    border-bottom: 4px solid #b90e1d;
}

.main-menu a:hover {
    background-color: #111 !important;
    background-image: linear-gradient(#181818, #070707) !important;
}

.main-menu .brand {
    font-style: italic;
    color: #fff;
}

.tutorial img {
    display: block;
    margin: 2.5em auto;
}

.tutorial audio {
    display: block;
    margin: 0 auto;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.no-display {
    display: none;
}

.exercise-toggle {
    cursor: pointer;
}

/* Styles for titleBar
-----------------------------------------------------------*/
@media (min-width: 1200px) {
    #titleBar {
        background-image: url('/content/logo.png');
        background-position: 100%;
        background-repeat: no-repeat;
    }
}

#titleBar {
    height: 170px;
}


/* Other styles
-----------------------------------------------------------*/
p {
    text-align: justify;
}

.copyright {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
    font-size: 0.8em;
}

.followingImage {
  margin-top: -20px;
}





/* /tutorials
-----------------------------------------------------------*/

.Tutorials-CategoryMenu {
  margin-bottom: 2em;
  font-size: 10px;
  font-weight: bold;
}
.Tutorials-CategoryMenuItem, .Tutorials-CategoryMenuItem:focus, .Tutorials-CategoryMenuItem:active, .Tutorials-CategoryMenuItem:visited {
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee;
  color: #232323;
  margin: 0 0 2px 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  outline-style: none;
}
.Tutorials-CategoryMenuItem:hover {
  background-color: #ddd;
  color: #232323;
  text-decoration: none;
}
.Tutorials-CategoryMenuItem.is-active {
  background-color: #aaa;
  color: #232323;
}
.Tutorials-CategorySection {
  display: none;
}
.Tutorials-CategorySection.is-active {
  display: block;
}
.Tutorials-CategorySectionItem, .Tutorials-CategorySectionItem:focus, .Tutorials-CategorySectionItem:active, .Tutorials-CategorySectionItem:visited {
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee;
  color: #232323;
  margin: 0 0 0.25em 0;
  padding: 0.4em 1.2em;
  text-align: center;
  text-decoration: none;
  border: 1px solid #aaa;
  outline-style: none;
}
.Tutorials-CategorySectionItem:hover {
  background-color: #ddd;
  color: #232323;
  text-decoration: none;
}

