<header role="banner">
  <!-- Top Navigation -->
  <nav class="background-white background-primary-hightlight">
    <div class="line">
      <div class="s-12 l-2">
        <a href="/" class="logo"><img src="/img/logo-free.png" alt=""></a>
      </div>
      <div class="top-nav s-12 l-10">
        <p class="nav-text"></p>
        <ul class="right chevron">
          <li><a href="/">Home</a></li>
          <li><a href="/lesen">Lesen</a></li>
          <li><a href="/spielen">Spielen</a></li>
          <li><a href="/entdecken">Entdecken</a></li>
          <li><a href="/kategorien">Kategorien</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
