<header role="banner">
  <!-- Top Navigation -->
  <nav class="background-white background-primary-hightlight">
    <div class="line">
      <div class="s-12 l-4">
        <span style="display: block; float: left; background-color: #49BF4C; color: white; padding: 4px; margin-right: 4px; font-size: 24px; font-weight: bold;">musik</span><span style="display: block; padding: 4px; color:gray; font-size: 24px; font-weight: bold;">analyse.net</span>
      </div>
      <div class="top-nav s-12 l-8">
        <p class="nav-text"></p>
        <ul class="right chevron">
          <li><a href="/">Home</a></li>
          <li><a href="/lesen">Lesen</a></li>
          <li><a href="/spielen">Spielen</a></li>
          <li><a href="/entdecken">Entdecken</a></li>
          <li><a href="/kategorien">Kategorien</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
