<nav class="Navbar">
  <ul class="Navbar-mainMenu">
    <li class="Navbar-mainMenuItem"><a href="/">Home</a></li>
    <li class="Navbar-mainMenuItem"><a href="/tutorials">Tutorials</a></li>
    <li class="Navbar-mainMenuItem"><a href="/about">Über uns</a></li>
    <li class="Navbar-mainMenuItem"><a href="/imprint">Impressum</a></li>
  </ul>
  <aside class="Navbar-logo">musikanalyse.net</aside>
</nav>
