<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <meta name="google-site-verification" content="lOM0lvh98IKEzkw8sy76ToxfvvINhoD-SliLyUaKrr8" />
    <!--<script src="js/responsee.js"></script>-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
  </head>


  <body class="size-960">

    <!-- HEADER -->
    <% include partials/header %>

    <!-- MAIN -->
    <main role="main">

      <div class="line margin-top-40">
         <div class="s-12 m-8 l-10">
           &nbsp;
         </div>
         <div class="s-12 m-4 l-2">
           <a class="Button Button--blue" onclick="javascript:history.back();" style="width: auto;">Zurück...</a>
         </div>
      </div>

      <!-- Content -->
      <div class="section-small-padding background-white">
        <div class="line">
          <div class="s-12 m-12 center margin-m-bottom-30">
            <%- contents %>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <% include partials/footer %>

    <script src="/scripts/main.js"></script>
   </body>
</html>
