RewriteEngine On

# Spezifische Weiterleitung (funktioniert bei dir nur mit führendem Slash)
RewriteRule /tutorials/akkorde-mit-drei-toenen/?$ https://openmusic.academy/docs/tXrRi9Am1sS7Ydvu8bfTLe/ [R=301,L]
RewriteRule /tutorials/analyse-bohlen-bizet/?$ https://openmusic.academy/docs/nuNYFouvWiEh4QsSr9pUFZ/ [R=301,L]
RewriteRule /tutorials/analyse-ein-prominentes-harmoniemodell/?$ https://openmusic.academy/docs/5Fp4yWd2utSz8RVfX68z1d/ [R=301,L]
RewriteRule /tutorials/analyse-rainbow-crying-in-the-rain/?$ https://openmusic.academy/docs/mrArxaHb65eBNR2dZDhaEP/ [R=301,L]
RewriteRule /tutorials/analyse-schubert-zwerg/?$ https://openmusic.academy/search?query=Zwerg [R=301,L]
RewriteRule /tutorials/analysemethoden-pop-rock/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/ [R=301,L]
RewriteRule /tutorials/analysemethoden/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/ [R=301,L]
RewriteRule /tutorials/aria-di-fiorenza/?$ https://openmusic.academy/docs/89LBR33w9AfQdRUtJ5tFwb/ [R=301,L]
RewriteRule /tutorials/beispiele-pop-rock/?$ https://openmusic.academy/docs/SJQ9zuqxZx9VKG3r5phEzo/ [R=301,L]
RewriteRule /tutorials/cadentia-duriuscula/?$ https://openmusic.academy/docs/1J1NDi374pxLWc6m7fCUVm/ [R=301,L]
RewriteRule /tutorials/choralsatz-standardkadenzen/?$ https://openmusic.academy/docs/dCcgdBzmfB9Y11vGk5yb2K/ [R=301,L]
RewriteRule /tutorials/choralsatz/?$ https://openmusic.academy/docs/sqQHQLBg3GKKuSwafSC8TJ/ [R=301,L]
RewriteRule /tutorials/didaktik-musikhoeren-und-erwartung/?$ https://openmusic.academy/docs/i1YqyFYEVB4QBja7CEU3Qa/ [R=301,L]
RewriteRule /tutorials/film-sample-library-cc0/?$ https://openmusic.academy/docs/5ovavZVW7cbzH7UvMtHz6b/ [R=301,L]
RewriteRule /tutorials/formanalyse-am-beispiel-sonate/?$ https://openmusic.academy/search?query=formanalyse+sonate&tags=&type=document&text=&sorting=relevance&direction=desc&page=1&pageSize=10 [R=301,L]
RewriteRule /tutorials/formanalyse-nach-h-chr-koch/?$ https://openmusic.academy/docs/bi4FnWGqhnu5U1S5eVnrH2/ [R=301,L]
RewriteRule /tutorials/formfunktion-bridge/?$ https://openmusic.academy/docs/4X88w91K23fWJQwiSg3EL5/ [R=301,L]
RewriteRule /tutorials/formfunktionen/?$ https://openmusic.academy/docs/tNi1HzFwYZUj8WEDGb9pqF/ [R=301,L]
RewriteRule /tutorials/fortspinnungstypus/?$ https://openmusic.academy/docs/w1abvt9AMsSA1CVsQ86YXS/ [R=301,L]
RewriteRule /tutorials/fuge-1/?$ https://openmusic.academy/docs/taE4TEQEAN5Htv2RdMrz9y/ [R=301,L]
RewriteRule /tutorials/fuge-2/?$ https://openmusic.academy/docs/bBjbeWeRnw4tY4WBuSBfHW/ [R=301,L]
RewriteRule /tutorials/fuge-3/?$ https://openmusic.academy/docs/gGrreqTKxQieQE2yozsdjf/ [R=301,L]
RewriteRule /tutorials/fuge-4/?$ https://openmusic.academy/docs/iP3TUrqCSPK3e4ytqquLgr/ [R=301,L]
RewriteRule /tutorials/fuge-5/?$ https://openmusic.academy/docs/4YAHSxMrTBSsKj6hhAYDns/ [R=301,L]
RewriteRule /tutorials/fuggir-la-cadenza/?$ https://openmusic.academy/docs/yMzaS2N5oy3u2xtCrB2PJT/ [R=301,L]
RewriteRule /tutorials/funktion-und-sequenz/?$ https://openmusic.academy/docs/XD96NsZbNiLnpgk2TMKGtJ/ [R=301,L]
RewriteRule /tutorials/i-x-v-i-schema/?$ https://openmusic.academy/docs/dzxpXwBRznE9gUPmPiVcRP/ [R=301,L]
RewriteRule /tutorials/intervalle-bestimmen/?$ https://openmusic.academy/docs/pcgL954xmcp3nH3iMXmQ6D/ [R=301,L]
RewriteRule /tutorials/intervalle/?$ https://openmusic.academy/docs/pcgL954xmcp3nH3iMXmQ6D/ [R=301,L]
RewriteRule /tutorials/invention/?$ https://openmusic.academy/docs/w9NWKDfZPgMbVh5YUnPbk1/ [R=301,L]
RewriteRule /tutorials/impro-kontrapunk-16jh/?$ https://openmusic.academy/docs/yUfdjkszEmoacvMzVyt62j/ [R=301,L]
RewriteRule /tutorials/kadenz-als-Formmodell/?$ https://openmusic.academy/docs/nZC4Xw41AidnUVt7i15BVa/ [R=301,L]

# Allgemeine HTTPS-Weiterleitung
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://musikanalyse.net$1 [R=301,L]
