RewriteEngine On

# Spezifische Weiterleitung (funktioniert bei dir nur mit führendem Slash)
RewriteRule /tutorials/akkorde-mit-drei-toenen/?$ https://openmusic.academy/docs/tXrRi9Am1sS7Ydvu8bfTLe/ [R=301,L]
RewriteRule /tutorials/analyse-bohlen-bizet/?$ https://openmusic.academy/docs/nuNYFouvWiEh4QsSr9pUFZ/ [R=301,L]
RewriteRule /tutorials/analyse-ein-prominentes-harmoniemodell/?$ https://openmusic.academy/docs/5Fp4yWd2utSz8RVfX68z1d/ [R=301,L]
RewriteRule /tutorials/analyse-rainbow-crying-in-the-rain/?$ https://openmusic.academy/docs/mrArxaHb65eBNR2dZDhaEP/ [R=301,L]
RewriteRule /tutorials/analyse-schubert-zwerg/?$ https://openmusic.academy/search?query=Zwerg [R=301,L]
RewriteRule /tutorials/analysemethoden-pop-rock/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/ [R=301,L]
RewriteRule /tutorials/analysemethoden/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/ [R=301,L]
RewriteRule /tutorials/aria-di-fiorenza/?$ https://openmusic.academy/docs/89LBR33w9AfQdRUtJ5tFwb/ [R=301,L]
# Bands der DDR
# Bands Krautrock
# Beipsiele Formen und Gattungen (OB Formenlehre Lösungen)
RewriteRule /tutorials/beispiele-pop-rock/?$ https://openmusic.academy/docs/SJQ9zuqxZx9VKG3r5phEzo/ [R=301,L]
RewriteRule /tutorials/cadentia-duriuscula/?$ https://openmusic.academy/docs/1J1NDi374pxLWc6m7fCUVm/ [R=301,L]
RewriteRule /tutorials/choralsatz-standardkadenzen/?$ https://openmusic.academy/docs/dCcgdBzmfB9Y11vGk5yb2K/ [R=301,L]
RewriteRule /tutorials/choralsatz/?$ https://openmusic.academy/docs/sqQHQLBg3GKKuSwafSC8TJ/ [R=301,L]
RewriteRule /tutorials/didaktik-musikhoeren-und-erwartung/?$ https://openmusic.academy/docs/i1YqyFYEVB4QBja7CEU3Qa/ [R=301,L]
RewriteRule /tutorials/didaktik-musikhoeren-und-erwartung/?$ https://openmusic.academy/docs/in4gtdRDi53yUxucgqHmgs/ [R=301,L]
RewriteRule /tutorials/erwin-ratz/?$ https://openmusic.academy/docs/in4gtdRDi53yUxucgqHmgs/ [R=301,L]
# Film Terminologie
# Form durch Kadenzen (OpenBook Formenlehre)
RewriteRule /tutorials/formanalyse-am-beispiel-sonate/?$ https://openmusic.academy/search?query=formanalyse+sonate&tags=&type=document&text=&sorting=relevance&direction=desc&page=1&pageSize=10 [R=301,L]
RewriteRule /tutorials/formanalyse-nach-h-chr-koch/?$ https://openmusic.academy/docs/bi4FnWGqhnu5U1S5eVnrH2/ [R=301,L]
RewriteRule /tutorials/formfunktion-bridge/?$ https://openmusic.academy/docs/4X88w91K23fWJQwiSg3EL5/ [R=301,L]
RewriteRule /tutorials/formfunktionen/?$ https://openmusic.academy/docs/tNi1HzFwYZUj8WEDGb9pqF/ [R=301,L]
RewriteRule /tutorials/fortspinnungstypus/?$ https://openmusic.academy/docs/w1abvt9AMsSA1CVsQ86YXS/ [R=301,L]
RewriteRule /tutorials/fuge-1/?$ https://openmusic.academy/docs/taE4TEQEAN5Htv2RdMrz9y/ [R=301,L]
RewriteRule /tutorials/fuge-2/?$ https://openmusic.academy/docs/bBjbeWeRnw4tY4WBuSBfHW/ [R=301,L]
RewriteRule /tutorials/fuge-3/?$ https://openmusic.academy/docs/gGrreqTKxQieQE2yozsdjf/ [R=301,L]
RewriteRule /tutorials/fuge-4/?$ https://openmusic.academy/docs/iP3TUrqCSPK3e4ytqquLgr/ [R=301,L]
RewriteRule /tutorials/fuge-5/?$ https://openmusic.academy/docs/4YAHSxMrTBSsKj6hhAYDns/ [R=301,L]
RewriteRule /tutorials/fuggir-la-cadenza/?$ https://openmusic.academy/docs/yMzaS2N5oy3u2xtCrB2PJT/ [R=301,L]
RewriteRule /tutorials/funktion-und-sequenz/?$ https://openmusic.academy/docs/XD96NsZbNiLnpgk2TMKGtJ/ [R=301,L]
RewriteRule /tutorials/funktionstheorie-t/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/einfuehrung-methoden-der-musikalischen-analyse#die-funktionstheorie [R=301,L]
RewriteRule /tutorials/funktionstheorie-t5/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/einfuehrung-methoden-der-musikalischen-analyse#die-funktionstheorie [R=301,L]
# Generalbass
RewriteRule /tutorials/hermeneutik-funktionaleanalyse/?$ https://openmusic.academy/docs/26FzDbZUGqUwoNbZUGLEWH/ [R=301,L]
RewriteRule /tutorials/i-x-v-i-schema/?$ https://openmusic.academy/docs/dzxpXwBRznE9gUPmPiVcRP/ [R=301,L]
RewriteRule /tutorials/impro-kontrapunk-16jh/?$ https://openmusic.academy/docs/yUfdjkszEmoacvMzVyt62j/ [R=301,L]
RewriteRule /tutorials/intervalle-bestimmen/?$ https://openmusic.academy/docs/pcgL954xmcp3nH3iMXmQ6D/ [R=301,L]
RewriteRule /tutorials/intervalle/?$ https://openmusic.academy/docs/pcgL954xmcp3nH3iMXmQ6D/ [R=301,L]
RewriteRule /tutorials/invention/?$ https://openmusic.academy/docs/w9NWKDfZPgMbVh5YUnPbk1/ [R=301,L]
RewriteRule /tutorials/kadenz-als-Formmodell/?$ https://openmusic.academy/docs/nZC4Xw41AidnUVt7i15BVa/ [R=301,L]
RewriteRule /tutorials/kadenz-kanon/?$ https://openmusic.academy/docs/nCYyrDBFMVZgAFqTB6izRT/ [R=301,L]
RewriteRule /tutorials/kadenz-signalakkorde/?$ https://openmusic.academy/docs/oTDnEi5CWDmQrLT1vsYCAo/ [R=301,L]
RewriteRule /tutorials/kadenz/?$ https://openmusic.academy/search?query=Kadenz+Schlusswendung&tags=&type=document&text=&sorting=relevance&direction=desc&page=1&pageSize=10 [R=301,L]
RewriteRule /tutorials/kadenzspiel-stilistisch/?$ https://openmusic.academy/docs/3WALvKgtGPXqYYe1ouAMU1/ [R=301,L]
RewriteRule /tutorials/kanonstrukturen/?$ https://openmusic.academy/docs/7nNYLdkpwLSi7i44qhBpqE/ [R=301,L]
RewriteRule /tutorials/kanonstrukturen/?$ https://openmusic.academy/docs/7nNYLdkpwLSi7i44qhBpqE/ [R=301,L]
RewriteRule /tutorials/kontrapunkt-einfuehrung/?$ https://openmusic.academy/search?query=Kontrapunkt [R=301,L]
RewriteRule /tutorials/kontrapunkt-formale-gestaltung/?$ https://openmusic.academy/docs/AcJNeGTdm9F1gmU6ppMBvG/ [R=301,L]
RewriteRule /tutorials/kontrapunkt-harmonielehre/?$ https://openmusic.academy/docs/qQ1oYUbXM8hLeiB23ZPVgG/ [R=301,L]
# RewriteRule /tutorials/kontrapunkt-manieristisch/?$ [R=301,L]
RewriteRule /tutorials/kontrapunkt-mehrstimmig/?$ https://openmusic.academy/docs/P1YtxJETXuPxiD4HMZUvuZ/ [R=301,L]
RewriteRule /tutorials/kontrapunkt-synkopendissonanz/?$ https://openmusic.academy/docs/3xK9QwbiyGiqDoY5tyTCX/ [R=301,L]
RewriteRule /tutorials/kontrapunkt-zweistimmig/?$ https://openmusic.academy/docs/fiEKifpS4phaDoaW8JszQN/ [R=301,L]
RewriteRule /tutorials/kontrapunktische-modelle-zur-anlayse-tonaler-musik/?$ https://openmusic.academy/docs/ZkrJx9v5XEgaceM3EoACqM/ [R=301,L]
RewriteRule /tutorials/lamentobass/?$ https://openmusic.academy/docs/p5BveSJBGANkCajmbNnnr2/ [R=301,L]
RewriteRule /tutorials/lautstaerkemodelle-zur-sinfonie/?$ https://openmusic.academy/docs/6LgrpdXuPYrGmhGCZU4EFK/ [R=301,L]
RewriteRule /tutorials/liedsatz-choralsatz-kantionalsatz/?$ https://openmusic.academy/docs/up4p1VPHAJiaWthDBKtCG9/ [R=301,L]
RewriteRule /tutorials/loesungen-Koch-tutorial/?$ https://openmusic.academy/docs/fVjNaxu3XKYXQcsy9GE4fA/ [R=301,L]
# RewriteRule /tutorials/lyriker-der-ddr/?$ [R=301,L]
RewriteRule /tutorials/manierismus-in-der-musik/?$ https://openmusic.academy/docs/e1yUGaocScEcfprYZrDPjL/ [R=301,L]
RewriteRule /tutorials/menuette-improvisieren/?$ https://openmusic.academy/docs/fVjNaxu3XKYXQcsy9GE4fA/ [R=301,L]
RewriteRule /tutorials/methode-heinrich-schenkers-grafische-analyse/?$ https://openmusic.academy/docs/jPkVvvFN8EDkRhDhEVmPot/ [R=301,L]
RewriteRule /tutorials/methoden-der-musikalischen-analyse/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/ [R=301,L]
RewriteRule /tutorials/modulation/?$ https://openmusic.academy/docs/wTvLUvt7PM9kRW8vYXtXVB/was-ist-eine-modulation [R=301,L]
RewriteRule /tutorials/modus/?$ https://openmusic.academy/docs/7nZbbghthDxdVjcjp2tYry/ [R=301,L]
RewriteRule /tutorials/monte-fonte-ponte/?$ https://openmusic.academy/docs/v82AB6gBGm4FSc6PapmUsb/ [R=301,L]
RewriteRule /tutorials/motivo-di-cadenza/?$ https://openmusic.academy/docs/zebyh1tJ5SNmgBixAj6am1/ [R=301,L]
# ms-friedrichshain
# musik-und-politik-ddr
RewriteRule /tutorials/musikalischer-witz-bei-haydn/?$ https://openmusic.academy/docs/nBtoFgoScXz8T2SBF5vzSy/ [R=301,L]
RewriteRule /tutorials/neapolitaner/?$ https://openmusic.academy/docs/m25rNvyiVJFMaeMP8M3rEs/ [R=301,L]
# noten-lesen-lernen-tool
RewriteRule /tutorials/noten-lesen-lernen/?$ https://openmusic.academy/docs/gYjpSvKAhDLAkXfJsVbKMt/ [R=301,L]
# notes-reading (do not show category)
RewriteRule /tutorials/oberquintmodulation/?$ https://openmusic.academy/docs/Qa6due6xjMCuWwP5k2CuAa/ [R=301,L]
RewriteRule /tutorials/parallelismus/?$ https://openmusic.academy/docs/okmsXajtfutixe9w5nSmsF/ [R=301,L]
RewriteRule /tutorials/passacaglia-1/?$ https://openmusic.academy/docs/GHp8kL9WtnMn9HT2AiMVT9/ [R=301,L]
RewriteRule /tutorials/passacaglia-2/?$ https://openmusic.academy/docs/GHp8kL9WtnMn9HT2AiMVT9/ [R=301,L]
RewriteRule /tutorials/pc-set-analysis/?$ https://openmusic.academy/docs/82Doiz66SQBRdvqeLQYcsG/ [R=301,L]
# pc-set-theory (von Andi)
RewriteRule /tutorials/periode-und-satz/?$ https://openmusic.academy/docs/22UGLkp4qDw4CF6siL7SeU/ [R=301,L]
RewriteRule /tutorials/phrygische-wendung/?$ https://openmusic.academy/docs/9nVKWgzK18SREhfECxUzNS/ [R=301,L]
RewriteRule /tutorials/pop-drums/?$ https://openmusic.academy/docs/ak9Uf2jq5kLZeGgNXPcug5/ [R=301,L]
RewriteRule /tutorials/popdidaktik-parallelismus/?$ https://openmusic.academy/docs/k5WS8V9AUPdrYdLw5CSgU1/ [R=301,L]
# popformel-literatur
RewriteRule /tutorials/popformeln/?$ https://openmusic.academy/docs/5vYHdWJBcPpKdv2n83J1jf/ [R=301,L]
RewriteRule /tutorials/prime-und-oktave/?$ https://openmusic.academy/docs/qhJrybuvVq4THcdwCnUYoo/ [R=301,L]
RewriteRule /tutorials/quarte/?$ https://openmusic.academy/docs/nxic86Gr5sJVGJc2ue1wGL/ [R=301,L]
RewriteRule /tutorials/quinte/?$ https://openmusic.academy/docs/kTx6ASHwL2v3kK5Y5z8NX1/ [R=301,L]
RewriteRule /tutorials/quintenturm-und-mozart/?$ https://openmusic.academy/docs/x6MpCZRnV5F9pWzVMgpWYc/ [R=301,L]
RewriteRule /tutorials/quintenzirkel/?$ https://openmusic.academy/docs/vcL1iZJnLGANWiCCWWWCis/ [R=301,L]
RewriteRule /tutorials/quintfallsequenz-mit-synkopenkette/?$ https://openmusic.academy/docs/nKhQz1wswvjALNzXmNFVjb/ [R=301,L]
RewriteRule /tutorials/quintfallsequenz/?$ https://openmusic.academy/docs/63cHjt3BAhGnNxzJGrTsN1/ [R=301,L]
RewriteRule /tutorials/regola/?$ https://openmusic.academy/docs/ntfpjBGtw5ef4tjqXPCjKH/ [R=301,L]
RewriteRule /tutorials/rondo/?$ https://openmusic.academy/docs/eBXrnvZ3CpghZQonmN66Ru/ [R=301,L]
RewriteRule /tutorials/satzmodell-impro/?$ https://openmusic.academy/docs/yUfdjkszEmoacvMzVyt62j/ [R=301,L]
RewriteRule /tutorials/satzmodelle/?$ https://openmusic.academy/docs/wRssGRrNehQQ6UvK3SHzUd/ [R=301,L]
RewriteRule /tutorials/satztechnik-und-bedeutung-1/?$ https://openmusic.academy/search?query=winterreise [R=301,L]
RewriteRule /tutorials/sekunden/?$ https://openmusic.academy/docs/hsBfE8gxSAfVQeGgAGGAX4/ [R=301,L]
RewriteRule /tutorials/septakkorde/?$ https://openmusic.academy/search?query=septakkorde [R=301,L]
RewriteRule /tutorials/septimen/?$ https://openmusic.academy/docs/fPnFsmxeFhvp9LD8ri5GpM/ [R=301,L]
RewriteRule /tutorials/sexten/?$ https://openmusic.academy/docs/qjE8uRfGqvm5Cuue6oBUPs/ [R=301,L]
RewriteRule /tutorials/sinfonische-welle/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/einfuehrung-methoden-der-musikalischen-analyse#die-sinfonische-welle [R=301,L]
RewriteRule /tutorials/sexten/?$ https://openmusic.academy/docs/qjE8uRfGqvm5Cuue6oBUPs/ [R=301,L]
RewriteRule /tutorials/sinfonische-welle/?$ https://openmusic.academy/docs/DEbQsbeXoXk2DiRXzC2jfK/einfuehrung-methoden-der-musikalischen-analyse#die-sinfonische-welle [R=301,L]
RewriteRule /tutorials/sixte-ajoutee/?$ https://openmusic.academy/docs/jPb3RJrQ2w4vHCLdGgu3Vx/ [R=301,L]
# sonate-durchfuehrung
# sonate-reprise
RewriteRule /tutorials/sonate-stiluebung-1/?$ https://openmusic.academy/docs/4EBjvWEufifccdAvMAsSdP/ [R=301,L]
RewriteRule /tutorials/sonate-stiluebung-2/?$ https://openmusic.academy/docs/4EBjvWEufifccdAvMAsSdP/ [R=301,L]
RewriteRule /tutorials/sonate-stiluebung-3/?$ https://openmusic.academy/docs/4EBjvWEufifccdAvMAsSdP/ [R=301,L]
RewriteRule /tutorials/sonate-stiluebung-4/?$ https://openmusic.academy/docs/4EBjvWEufifccdAvMAsSdP/ [R=301,L]
RewriteRule /tutorials/sonate-stiluebung-5/?$ https://openmusic.academy/docs/4EBjvWEufifccdAvMAsSdP/ [R=301,L]
RewriteRule /tutorials/sonate-ueberleitung-recherche/?$ https://openmusic.academy/docs/RZzDBYin6xbCy2PBevQ21q/ [R=301,L]
# sonate-ueberleitung
RewriteRule /tutorials/songwriting-1-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-2-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-3-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-4-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-5-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-6-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-7-drums/?$ https://openmusic.academy/docs/NqLXD6BYkvsxyJzdxHmbb5/ [R=301,L]
RewriteRule /tutorials/songwriting-mit-beethoven-mixing/?$ https://openmusic.academy/docs/pScmHNXsj71SEx4VzUZD7V/ [R=301,L]
RewriteRule /tutorials/songwriting-mit-beethoven/?$ https://openmusic.academy/docs/pScmHNXsj71SEx4VzUZD7V/ [R=301,L]
RewriteRule /tutorials/songwriting-mit-schubert-mixing/?$ https://openmusic.academy/docs/tHgh7byqr46nFkTHjjnNn2/ [R=301,L]
RewriteRule /tutorials/songwriting-mit-schubert/?$ https://openmusic.academy/docs/tHgh7byqr46nFkTHjjnNn2/ [R=301,L]
RewriteRule /tutorials/srdc/?$ https://openmusic.academy/docs/sM3zivZ7MDf79SgU36Ckko/ [R=301,L]
RewriteRule /tutorials/stimmungen/?$ https://openmusic.academy/docs/w6vHBG1vKvdQT23SjT8FVd/ [R=301,L]
RewriteRule /tutorials/terzen/?$ https://openmusic.academy/docs/ifcvQKi1uqYodQPj8bo76u/ [R=301,L]
RewriteRule /tutorials/theorie-und-methode/?$ https://openmusic.academy/docs/nN4EhUhgmJbVjWxmLWTkQa/ [R=301,L]
RewriteRule /tutorials/theorie-und-praxis/?$ https://openmusic.academy/docs/nMtywpmi1PuGpyUtwXDA3x/ [R=301,L]
# tonleitern-bestimmen-tool
RewriteRule /tutorials/tonleitern/?$ https://openmusic.academy/docs/msP3AYzpXZRQ4si4Gs45Xr/ [R=301,L]
RewriteRule /tutorials/tonsystem/?$ https://openmusic.academy/docs/nSGgqfJvphH5Y4ZHMSzfkj/ [R=301,L]
RewriteRule /tutorials/topos/?$ https://openmusic.academy/docs/26FzDbZUGqUwoNbZUGLEWH/begriffe-zur-musikalischen-analyse#topos [R=301,L]
RewriteRule /tutorials/tosca/?$ https://openmusic.academy/docs/7v83x52grFvTuTp6T8MjGY/ [R=301,L]
RewriteRule /tutorials/tritonus/?$ https://openmusic.academy/docs/mDCkjepG3D61cX4FNBQxts/ [R=301,L]
RewriteRule /tutorials/uebermaessiger56-akkord/?$ https://openmusic.academy/docs/x3ZtbzyLGrXvXAidJM8b9m/ [R=301,L]
RewriteRule /tutorials/urheberrecht-frankfurter-fischer/?$ https://elmu.online/docs/ceH8pkD4QxotfpbCwnsKPi/ [R=301,L]
RewriteRule /tutorials/vagierende-akkorde/?$ https://openmusic.academy/docs/5h6yeJH3xWLRf462vcnxpQ/ [R=301,L]
RewriteRule /tutorials/verminderte-septakkord/?$ https://openmusic.academy/docs/oT1VY58KrfWC8fH2Zy9FS6/ [R=301,L]
RewriteRule /tutorials/wiederholung-variante-kontrast/?$ https://openmusic.academy/docs/rebhjf4MLq7yjeoCnYfn7E/ [R=301,L]
RewriteRule /tutorials/zirkelmodelle-omnibus-petrarca/?$ https://openmusic.academy/docs/vnXE9WjegtAZrGMdtMx4Yh/ [R=301,L]
RewriteRule /tutorials/zirkelmodelle-wegweiser/?$ https://openmusic.academy/docs/o4GKsjbXs6UDD9vqmLPSLf/ [R=301,L]
RewriteRule /tutorials/zur-stiluebung/?$ https://openmusic.academy/docs/R4cKXuaK9GxX17g2Q5L7dA/ [R=301,L]


# Allgemeine HTTPS-Weiterleitung
RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://musikanalyse.net$1 [R=301,L]
