---
title: Dateien zum Herunterladen
date: 2015-10-04
layout: wide.ejs
---

<div class="line">
  <div class="s12 m-2 l-2">&nbsp;</div>
  <div class="s12 m-10 l-10">
    <h1 class="text-size-40">Downloads</h1>
    <noscript>Diese Seite funktioniert nicht ohne Javascript.</noscript>

    <section class="margin-top-20">
      <h2>Materialien zu Themen der Musiktheorie und zur Analyse</h2>
      <ul>
        <% collections.downloads.filter(function (downloadfile) { return downloadfile.category.indexOf('themen') > -1; }).forEach(function (downloadfile) { %>
        <li>
          <a href="<%= downloadfile.link %>" title="<%= downloadfile.abstract %>"><%= downloadfile.title %></a>
        </li>
        <% }); %>
      </ul>
    </section>

    <section class="margin-top-20">
      <h2>Materialien zum Üben</h2>
      <ul>
        <% collections.downloads.filter(function (downloadfile) { return downloadfile.category.indexOf('aufgaben') > -1; }).forEach(function (downloadfile) { %>
        <li>
          <a href="<%= downloadfile.link %>" title="<%= downloadfile.abstract %>"><%= downloadfile.title %></a>
        </li>
        <% }); %>
      </ul>
    </section>

    <section class="margin-top-20">
      <h2>Tutorials als PDF-Datei</h2>
      <ul>
        <% collections.downloads.filter(function (downloadfile) { return downloadfile.category.indexOf('Stilübungen (tutorial)') > -1 }).forEach(function (downloadfile) { %>
        <li>
          <a href="<%= downloadfile.link %>" title="<%= downloadfile.abstract %>"><%= downloadfile.title %></a>
        </li>
        <% }); %>
      </ul>
    </section>
  </div>
</div>
